<script type="text/javascript">
  $(document).ready(function(){
    $('#Modal').modal('show');
  });
</script>
<div id="Modal" class="modal" >
  <div class="modal-dialog" style="margin-top:60px;border:1px solid #000;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <p><span class="glyphicon glyphicon-user"></span>{{Message}}</p>
      </div>
      <div class="modal-body">
        <input type="text" ng-modal="user.username" placeholder="enter your username" id="username"></input>
        <input type="password" ng-modal="user.password" placeholder="enter your password" id="password"></input>
        <button class="btn btn-default" ng-click="Login(user)">Login</button>
      </div>
      <div class="modal-footer">
        <h4>poda dei</h4>
      </div>
    </div>
  </div>
</div>
