<script type="text/javascript">
  $(document).ready(function(){
    $('#Modal').modal('show');
  });
</script>
<div id="Modal" class="modal">
  <div class="modal-dialog" style="margin-top:60px;border:1px solid #000;">
    <div class="modal-header">
      <p><span class="glyphicon glyphicon-user"></span>Enter your Username and password to access the Files</p>
    </div>
    <div class="modal-body">
      
    </div>
    <div class="modal-footer">
      <h4>poda dei</h4>
    </div>
  </div>
<!--<h2>{{Message}}</h2>-->
</div>
