<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>



  



  <connectionStrings>
    <!--<add name="ConStr" connectionString="Data Source=182.18.166.111; Initial Catalog=UpajDBA; User=UpajDBA; password=5^jFl13y;"  providerName="System.Data.MySqlClient"/>-->
    <!--<add name="ConStr" connectionString="Data Source=intekone.com; Initial Catalog=backpage; User=phone_backpage; password=StJohn2121;"  providerName="System.Data.MySqlClient"/>-->
    <add name="ConStr" connectionString="Data Source=localhost; Initial Catalog=admin_medical; User=joblist_medical; password=StJohn2121!;"  providerName="System.Data.MySqlClient"/>

  </connectionStrings>


  <system.web>
    <customErrors mode="Off"/>
    <compilation debug="true" targetFramework="4.0" />
   
  </system.web>

  

   
 

</configuration>
