<style>
    body {
        font-family: Calibri;
    }

    .container {
        margin-left: 10%;
        width: 80%;
        margin-top: 50px;
    }
    .ProjectTitles {
        font-family:'Segoe UI';
        font-size:0.9em;
    }
</style>
@{
    ViewBag.Title = "Elance Latest RSS Feeds";
}
<div class="container">
    @{
        if (ViewBag.lastBuild != null)
        {
        <p>
            Feed taken on : <b>@ViewBag.lastBuild</b>
            <!--Need to have a refresh button which calls the method again-->
            Please Click <a href="">here</a> to refresh the contents again
        </p>
        }
        else
        {
        <h4>There is some error</h4>
        }
    }
    <div class="ProjectTitles" style="background-color:#222;color:#999;">
        <h2 align="Center" style="padding-top:10px;">Project Details</h2>
        @{
            if (ViewBag.ProjectTitles != null)
            {
            <p>@Html.Raw(ViewBag.ProjectTitles)</p>
            }
            else
            {
            <h4>There is some error</h4>
            }
        }
    </div>
</div>
